.source-element {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4444bb;
  color: white;
}

.source-element:hover {
  background-color: #5555bb;
  cursor: grab;
}

.ghost-1 {
  background-color: purple;
  border-radius: 20px;
  padding: 40px;
  color: white;
}

.ghost-2 {
  background-color: pink;
  border-radius: 20px;
  padding: 40px;
  color: black;
}
