.target-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid slateblue;
  border-radius: 8px;
}

.t1 {
  background-color: #0d5b69;
}

.t1.drag-over {
  background-color: #03282f;
}

.t2 {
  background-color: #092b59;
}

.t2.drag-over {
  background-color: #0c6cea;
}
