.source-element {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4444bb;
  color: white;
}

.source-element:hover {
  background-color: #5555bb;
  cursor: grab;
}
